html, body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    background-color: gray;
    font-size: 20px;
    justify-content: space-between;
    padding: 20px 50px;

    nav:nth-child(1) {
        display: flex;
        align-items: center;

        a {
            margin-right: 20px;
            text-decoration: none;
            color: black;
        }
    }

    nav:nth-child(3) {
        a {
            font-size: 40px;
            color: black;

            &:nth-child(1) {
                margin-right: 30px;
            }
        }
    }

    nav:nth-child(1) a:hover {
        color: blue;
        text-shadow: 0px 1px 1px rgb(32, 32, 32);
    }

    nav:nth-child(3) a:hover {
        color: rgb(29, 0, 145);
    }

    div {
        display: flex;
        align-items: center;
        width: 40%;

        i {
            margin-right: 10px;
            font-size: 30px;
        }

        input {
            width: 100%;
            border-radius: 20px;
            padding: 1%;
            border: none;
        }
    }

    @media only screen and (max-width: 600px) {
        
            font-size: 16px;
            padding: 10px 20px;
            margin: 0;
        

        nav:nth-child(1) {
            display: none; 
        }

        nav:nth-child(3) {
            display: flex;
            padding: 0;
            margin: 0;

            a {
                margin: 0;

                &:nth-child(1) {
                    margin: 0 10px;
                }
            }
        }

        .menu-icon {
            display: block; 
        }

        div {
            justify-content: space-between;
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }


    
}




