html, body {
    padding: 0;
    margin: 0;
}

footer{
    background-color: gray;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo img{
    width: 100%;
}


.contacter{
    margin-bottom: 5%;   
    h3{
        margin-bottom: -5px;}
    p{
    margin-bottom: -10px;}
}


.reseaux{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}

.reseaux a {
    flex: 1 0 50%;
    font-size: 35px;
    padding: 15% 0;
    padding-left: 5%;
    box-sizing: border-box; 
    text-align: center;
}

.reseaux a:hover{
    color: white;
}


.foolien{
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
        color: black;
        font-weight: bolder;
        padding: 0 5%;
    }
    &:hover{
        color: blue;
    }
}